@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,500,500i,700,700i,900,900i');

* {outline:none;z-index:1;box-sizing:border-box;padding:0;margin:0;text-decoration:none;list-style:none;font-family:'Titillium Web', sans-serif;color:#fff;letter-spacing:0.5px;}

body {background:#f0f0f0;}

body > .error {background:#d32f2f;height:50px;text-align:center;line-height:50px;font-size:16px;}

body > .header {height:90px;background:#333;width:100%;float:left;}
body > .header > .center {width:1000px;margin:auto;height:90px;}
body > .header > .center > form {position:relative;float:right;margin-top:20px;}
body > .header > .center > form > input[type="text"] {float:left;box-shadow:0 0 0 1px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.1);background:#2c2c2c;border:none;border-radius:4px;line-height:50px;width:200px;padding:0 20px;font-size:14px;}
body > .header > .center > form > input[type="submit"] {float:left;margin-left:15px;box-shadow:0 2px 2px rgba(0,0,0,0.1);border:none;border-radius:4px;line-height:50px;padding:0 20px;text-align:right;text-transform:uppercase;background:#acbfce;cursor:pointer;width:140px;}
body > .header > .center > form > label {position:absolute;height:50px;width:50px;background:rgba(0,0,0,0.1) url('../images/go.png') no-repeat center center;right:90px;border-radius:4px 0 0 4px;}

body > .sub_header {height:350px;background:#acbfce url('../images/sub_header.png') no-repeat center bottom+50px;float:left;width:100%;}
body > .sub_header > .center {width:1000px;margin:auto;height:220px;}
body > .sub_header > .center > h1 {text-align:center;margin-top:40px;line-height:40px;float:left;width:100%;font-size:40px;letter-spacing:1px;text-shadow:0 2px 2px rgba(0,0,0,0.2);}
body > .sub_header > .center > .compteur {position:relative;width:100%;float:left;margin-top:40px;}
body > .sub_header > .center > .compteur > .case {text-align:center;width:120px;background:rgba(0,0,0,0.1);border-radius:4px;float:left;margin-right:50px;}
body > .sub_header > .center > .compteur > .case:first-child {margin-left:calc(50% - 120px*4/2 - 75px);}
body > .sub_header > .center > .compteur > .case:last-child {margin-right:0;}
body > .sub_header > .center > .compteur > .case > span {margin-top:20px;float:left;width:100%;font-size:40px;font-weight:100;}
body > .sub_header > .center > .compteur > .case > p {width:100%;float:left;background:rgba(0,0,0,0.1);line-height:40px;margin-top:10px;}

body > .page {width:100%;float:left;margin-top:-50px;}
body > .page > .center {width:1000px;margin:auto;position:relative;margin-bottom:15px;}
body > .page > .center > .left {float:left;width:600px;}
body > .page > .center > .left > .box {background:#fff;position:relative;border-radius:4px 0 4px 4px;overflow:hidden;}
body > .page > .center > .left > .box > .title {height:75px;float:left;width:100%;position:relative;border-bottom:1px solid #ddd;}
body > .page > .center > .left > .box > .title > h1 {color:#6e6e6e;font-size:18px;line-height:18px;font-weight:500;padding:20px 0 0 20px;}
body > .page > .center > .left > .box > .title > p {color:#999;font-size:13px;padding:2px 0 0 20px;}
body > .page > .center > .left > .box > .content {float:left;width:100%;padding:0 15px 15px 15px;}
body > .page > .center > .left > .box > .content > .bloc {float:left;width:100%;overflow:hidden;margin-top:15px;}
body > .page > .center > .left > .box > .content > .bloc > .image {box-shadow:0 0 10px rgba(0,0,0,0.5) inset;border-radius:3px 0 0 3px;width:180px;height:80px;overflow:hidden;float:left;}
body > .page > .center > .left > .box > .content > .bloc > .image > .avatar_plate {webkit-filter:drop-shadow(0 0 5px #000);filter:drop-shadow(0 0 5px #000);float:left;border-radius:200px;width:68px;overflow:hidden;height:68px;}
body > .page > .center > .left > .box > .content > .bloc > .bull {float:left;background:#eee;width:calc(100% - 180px);height:80px;border-radius:0 3px 3px 0;padding:14px 15px;}
body > .page > .center > .left > .box > .content > .bloc > .bull > h1 {font-size:16px;line-height:16px;color:#6e6e6e;font-weight:500;}
body > .page > .center > .left > .box > .content > .bloc > .bull > p {font-size:13px;line-height:16px;color:#999;margin-top:5px;}

body > .page > .center > .right {width:calc(100% - 600px);float:right;}
body > .page > .center > .right > .box {background:#2e2e2e;border-radius:0 4px 4px 4px;overflow:hidden;}
body > .page > .center > .right > .box > .title {height:75px;float:left;width:100%;position:relative;border-bottom:1px solid #111;}
body > .page > .center > .right > .box > .title > h1 {color:#fff;font-size:18px;line-height:18px;font-weight:500;padding:20px 0 0 20px;}
body > .page > .center > .right > .box > .title > p {color:#ddd;font-size:13px;padding:2px 0 0 20px;}
body > .page > .center > .right > .box > .content {padding:15px;float:left;width:100%;}
body > .page > .center > .right > .box > .content > .fb-page {border-radius:4px;overflow:hidden;margin-bottom:-5px;box-shadow:0 0 0 3px rgba(255,255,255,0.1);}

body > .footer {width:100%;float:left;margin-bottom:50px;margin-top:15px;}
body > .footer > .center {border-radius:3px;width:1000px;margin:auto;background:#3e3e3e;height:84px;padding-right:75px;}
body > .footer > .center > .logo {float:left;height:100%;background:rgba(0,0,0,0.1);padding:0 20px;line-height:84px;}
body > .footer > .center > .logo > img {vertical-align:middle;}
body > .footer > .center > .links {width:600px;float:left;height:22px;margin-top:15px;float:left;}
body > .footer > .center > .links > a {margin-left:20px;font-size:14px;font-weight:500;width:600px;color:#ccc;}
body > .footer > .center > .copy {float:left;margin-top:10px;padding-left:20px;font-size:14px;width:600px;}