header {height:140px;background:#d0d0d0 url('https://game.habbox.fr/game/c_images/bg/1526214166.png') no-repeat center bottom+0px;float:left;width:100%;}
header > input[type="text"] {color:#fff;float: right;height: 38px; width: 212px;background-color: #6b7d89;border:none;line-height:40px;padding:0 20px;font-size:14px;position: relative;top: 50px;margin-right: 140px;}
header > input[type="submit"] {height: 38px;width: 38px;background-color: #67737c;float: right;position:relative;top: 50px;border:none;}
html { overflow-x:hidden; }
.ba {border-style: none !important;z-index: 99 !important;background-color: #b9b9b9b0 !important;box-shadow: none !important;padding: 0 !important;width: 50px !important;display: inline-block !important;margin: 5px !important;}
form.login--form_index_hbx--form {display: flow-root;margin: auto;padding: 30px;width: 100%;}
.navaset {
    display: block;
    padding: 10px;
    color: white;
}
select#recrute {
    width: 100%;
    height: 50px;
    border: solid 1px #dbdbdb;
    padding: 14px;
}
.ranking-position {
    width: 90px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
}
.ranking-user-profile {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.hotel2 {
    position: absolute;
    z-index: 999999;
    top: 15px;
    left: 15px;
    background-color: #ef9447cf;
    padding: 5px 25px;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}
.hotel2:hover {
    position: absolute;
    z-index: 999999;
    top: 15px;
    left: 15px;
    background-color: #ef9447a6;
    padding: 5px 25px;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}
@media (min-width: 495px) {
.creation-content__link {
    background: #103960;
}
.creation-content__link {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: 69px;
}
.flechnext {
	margin-left: -15px;
    margin-top: 5px;
    border: none;
    background: #3a3a3a;
    width: 69px;
    height: 97.5%;
    position: absolute;
}
.flechprev {
	margin-left: -55px;
    margin-top: 5px;
    border: none;
    background: #3a3a3a;
    width: 69px;
    height: 97.5%;
    position: absolute;
}
.icon {
    display: inline-block;
    font-style: normal;
}
.icon--arrow-prev {
    background: url(../images/sprite.png) -369px -200px;
    width: 21px;
    height: 38px;
}
.icon--arrow-next {
    background: url(../images/sprite.png) -368px -387px;
    width: 21px;
    height: 38px;
}
}
@media (max-width: 494px) {
.creation-content__link {
    background: #103960;
}
.creation-content__link {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: 69px;
}
.flechnext {
	    margin-top: 5px;
    border: none;
    background: #3a3a3a;
    width: 100%;
    height: 50px;
    display: flex;
}
.flechprev {
	    margin-top: 5px;
    border: none;
    background: #3a3a3a;
    width: 100%;
    height: 50px;
    display: flex;
}
.icon {
    display: inline-block;
    font-style: normal;
}
.icon--arrow-prev {
    background: url(../images/sprite.png) -369px -200px;
    width: 21px;
    height: 38px;
}
.icon--arrow-next {
    background: url(../images/sprite.png) -368px -387px;
    width: 21px;
    height: 38px;
}
}
a:focus {
    color: #5b5b5b !important;
    text-decoration: none !important;
}
.form__submit3 {
    float: left;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    border: none;
    border-radius: 4px;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    background: #ffffff;
    cursor: pointer;
    width: 100%;
    color: #6e6e6e;
}
.form__submit3:hover {
    background: #ffffffa3;
    color: #6e6e6e;
}
.card__like {
    padding: 8px;
    position: absolute;
    top: 289px;
    background: #00000061;
    width: 320px;
    color: white;
}
a.jaime {
    color: white;
}
button.btnsuppr {
    float: none !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    line-height: 0px !important;
    padding: 0px !important;
    text-align: center;
    text-transform: none !important;
    background: none;
    cursor: pointer;
    width: 100%;
    color: black !important;
}
.hotel1 {
    position: absolute;
    z-index: 999999;
    top: 15px;
    left: 89px;
    background-color: #ef9447cf;
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}
.hotel1:hover {
    position: absolute;
    z-index: 999999;
    top: 15px;
    left: 89px;
    background-color: #ef9447a6;
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}
.ranking-user:nth-child(odd) {
    background: none;
}
.ranking-user {
    background: #00000024;
}
.ranking-user:nth-child(1) .ranking-points b {
    background: #EFD807;
    padding: 8px;
    color: white;
}
.ranking-user:nth-child(2) .ranking-points b {
    background: #CECECE;
    padding: 8px;
    color: white;
}
.ranking-user:nth-child(3) .ranking-points b {
    background: #614E1A;
    padding: 8px;
    color: white;
}
a:active {
	text-decoration: none !important;
	color: #cecece;
	outline:0;
}
a:hover {
	text-decoration: none !important;
	color: #cecece;
	outline:0;
}
*:active {
	outline:0 !important;
}
*:hover {
	outline:0 !important;
}
.navaset:nth-child(odd) {
    background: #4c4c4c;
}
* {
	outline: 0;
	font-family: sans-serif;
}

nav {width: 100%;background: #fff;position: relative;}
nav > .container > .col-md-12 > .off {height: 38px;width: 38px;background-color: #c93636;float: right;position:relative;top: 10px;}
nav > .container > .col-md-12 > .off a {text-decoration: none;}
nav > .container > .col-md-12 > .off a:hover {font-size: 17px;}
nav > .container > .col-md-12 > .enter {height: 38px;width: 200px;background-color: #87D37C;float: right;position:relative;top: 10px;margin-right: 10px;text-align: center;}
nav > .container > .col-md-12 > .enter > p {color: #fff;font-size: 13px; text-transform: uppercase;position: relative;top: 9px;}
nav > .container > .col-md-12 > .enter a {text-decoration: none;color: #fff;font-size: 13px; text-transform: uppercase;position: relative;top: 9px;}
nav > .container > .col-md-12 > .enter a:hover {font-size: 15px;}
nav > .container > .col-md-12 > a {color:#5b5b5b;font-size: 18px;text-transform: uppercase;text-decoration: none;margin-right: 35px;display: inline-block;}
nav > .container.sub > .col-md-12 > a {color:#5b5b5b;font-size: 14px;text-transform: uppercase;text-decoration: none;margin-right: 35px;}
nav > .container > .col-md-12 > a:hover {color:#282828;}
.submenu {height: 30px;width: 100%;background: #dbdbdb;position: relative;}
.submenu a {font-size: 12px; color: #3a3a3a;text-transform: uppercase;margin-right: 30px;top: 3px;text-decoration: none;}
body {background:#e9e9e9;font-family: 'Titillium Web', sans-serif;overflow: hidden;}
.container-fluid {padding: 0px;}
.container-fluid.content {
    padding: 0px;
}
.container-fluid.content >.container {
    padding: 0px;
}
.nameh {
    display: inherit;
}
@media (max-width: 600px) {

.nameh {
    display: none;
}
}
@media (max-width: 1090px) {
	.container-button {
    width: 100%;
    }
.button_hk, .button_logout, .button_hotel {
    display: inline-block  !important;
    width: calc(98.9% / 3) !important;
    line-height: 15px;
    text-align: center;
}
}
@media (max-width: 950px) {
	.bloc {    width: 100% !important;
	}
	nav > .container > .col-md-12 {
		padding: 0px !important;
	}
	
.container.nav {
	    text-align: center;
	margin-left: 0px;
	padding-left: 15px;
}
.container.sub {
    height: 100%;
    line-height: 34px;
	padding-left: 15px !important;
}
nav > .container > .col-md-12 > a {
    display: table;
}
nav > .container.nav > .col-md-12 > a {
        display: inline-block;
    font-size: 12px;
    margin: 0px;
        padding: 10px 0px;
    text-align: center;
    width: calc(95% / 4);
}
.container.nav {
    height: 100%;
    line-height: none;
	padding: 0px;
}
.glyphicon {
    display: table;
    font-size: 32px;
    margin-bottom: 5px;
	    width: 100%;
	}
nav {
	height: auto;
}
.mdu, .mdi, .mgp, .mcr {
	width: 50% !important;
}
.newsmobile {
	    display: none;
}
.submenu {
	height:auto;
}
.panelmo{
	padding: 5px;
}
.panel {height:auto !important;}
.panelboxc, .panelboxd, .panelboxk {
	margin: 5px 0 !important;
	width:100% !important;
}
}
.panelmo{
    margin-top: -5px;
    height: auto;
    padding-top: 5px;
    text-align: center;
    background: #444444;
}
.hotellink {
    position: absolute;
    line-height: 40px;
    display: inline-block;
    padding: 10px 30px;
    right: 30px;
    top: 30px;
    background: #dbdbdb;
    color: #5b5b5b;
    font-weight: bold;
    text-size-adjust: 100%;
    text-transform: uppercase;
    font-size: 14px;
}
.container.sub {
    height: 100%;
    line-height: 30px;
	padding-left: 0px;
}
@media (max-width: 580px) {
	.logocontent { display: none !important; }
}
@media (min-width: 951px) {
.container.nav {
	height: 100%;
    line-height: 60px;
}
}
.meuser {
    background: #b8b8b8;
    line-height: 0;
    height: 160px;
    position: inherit;
}
.meavatar {
    height: 160px;
    display: inline-block;
    position: relative;
    overflow: hidden;
	z-index: 9999;
}
.memotto {
    position: absolute;
    float: left;
    line-height: 40px;
    height: 40px;
    width: 100%;
    padding-left: 150px;
    background: #8b8b8b;
    color: white;
    bottom: 0px;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.monnaie {
    margin-bottom: 15px;
	    line-height: 0px;
}

.mdu {
        width: calc(100% / 4);
    display: inline-block;
    background: #D184D3;
    padding-left: 10px;
    line-height: 1.42857143;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    color: white;
}
.mdi {
    width: calc(100% / 4);
    display: inline-block;
    background: #33bbda;
    padding-left: 10px;
    line-height: 1.42857143;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    color: white;
}
.mcr {
    width: calc(100% / 4);
    display: inline-block;
    background: #CCA923;
	padding-left: 10px;
    line-height: 1.42857143;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    color: white;
}
.mgp {
    width: calc(100% / 4);
    display: inline-block;
    background: #008986;
	padding-left: 10px;
    line-height: 1.42857143;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    color: white;
}
.module-index {background-color: #fff;height: 100%;overflow:hidden;margin-bottom: 10px;}
.module-index h1 {font-size:16px;line-height:16px;color:#6e6e6e;font-weight:500;margin-left: 13px;}
.module-index p {font-size:13px;line-height:16px;color:#999;margin-left:13px;}
.module-index form {position:relative;}
.module-index form p {position: relative;top: 6px;font-size: 12px;}
.module-index form input[type="password"] {box-shadow: 0 0 0 1px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.1);
    background: #eee;
    border: none;
    border-radius: 4px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;}
.module-index form input[type="text"] {box-shadow: 0 0 0 1px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.1);
    background: #eee;
    border: none;
    border-radius: 4px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;}
.module-index form input[type="email"] {box-shadow: 0 0 0 1px rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.1);
    background: #eee;
    border: none;
    border-radius: 4px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;}
.module-index form input[type="submit"] {float:left;box-shadow:0 2px 2px rgba(0,0,0,0.1);border:none;border-radius:4px;line-height:50px;padding:0 20px;text-align:center;text-transform:uppercase;background:#3a3a3a;cursor:pointer;width:100%;color:#fff;}
.module-index form input[type="submit"]:hover {background:#1b1b1b;}
.module-index form button {float:left;box-shadow:0 2px 2px rgba(0,0,0,0.1);border:none;border-radius:4px;line-height:50px;padding:0 20px;text-align:center;text-transform:uppercase;background:#3a3a3a;cursor:pointer;width:100%;color:#fff;}
.module-index form button:hover {background:#1b1b1b;}
.container-button {
    padding: 0px;
}
.button_hk, .button_logout, .button_hotel {
    width: none !important;
    display: inline;
}
.form__submit2 {float:left;box-shadow:0 2px 2px rgba(0,0,0,0.1);border:none;border-radius:4px;line-height:50px;padding:0 20px;text-align:center;    margin-top: 20px;text-transform:uppercase;background:#3a3a3a;cursor:pointer;width:100%;color:#fff;}
.form__submit2:hover {background:#1b1b1b;}

.module-noir {background-color: #3a3a3a;height: 100%;overflow:hidden;margin-bottom: 10px;}
.module-noir h1 {font-size:16px;line-height:16px;color:#fff;font-weight:500;margin-left: 13px;}
.module-noir p {font-size:13px;line-height:16px;color:#fff;margin-left:13px;}

.content {float:left;width:100%;padding:0 15px 15px 15px;}
.bloc {float:left;overflow:hidden;border-radius:none;margin-bottom: 10px; width: 48%;margin-right: 12px;}
.bloc > .image {box-shadow:0 0 10px rgba(0,0,0,0.5) inset;border-radius:none;width:100%;height:130px;overflow:hidden;background-position-y: -50px;background-position-x: -410px;}
.bloc > .image h3 {margin-left: 10px;text-transform: uppercase;font-size: 13px;color: #fff;text-shadow: 4px 4px 10px #000;position: relative;top: -10px;}
.bloc > .image > .avatar_plate {webkit-filter:drop-shadow(0 0 5px #000);filter:drop-shadow(0 0 5px #000);float:left;border-radius:200px;width:68px;overflow:hidden;height:68px;}
.bloc > .bull {float:left;background:#eee;width:calc(100% - 180px);height:80px;border-radius:none;padding:14px 15px;}
.bloc > .bull > h1 {font-size:16px;line-height:16px;color:#6e6e6e;font-weight:500;position: relative;top: -20px;}
.bloc > .bull > p {font-size:13px;line-height:16px;color:#999;margin-top:0px;position: relative;top: -24px;}

.footer {background-color: #3a3a3a;padding: 20px;margin-bottom: 20px;border-radius:5px 5px 5px 5px;}
.footer p {color:#eee;font-size: 11px;text-transform: uppercase;margin-bottom: -3px;text-align: center;}
a.button_hk:hover {
    padding: 13px 25px;
    background-color: #82bee6bf;
    border-radius: 1px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
a.button_hk {
    padding: 13px 25px;
    background-color: #82bee6bf;
    border-radius: 1px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
a.button_logout:hover {
    padding: 13px 25px;
    background-color: #e22c2c87;
    border-radius: 1px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
a.button_logout {
    padding: 13px 25px;
    background-color: #e22c2cbf;
    border-radius: 1px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
a.button_hotel:hover {
    padding: 13px 25px;
    background-color: #ef9447a6;
    border-radius: 1px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
a.button_hotel {
    padding: 13px 25px;
    background-color: #ef9447cf;
    border-radius: 1px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.container-button {
    display: inline-block;
    float: right;
}
.module-facebook {background-color: #3b5999;height: 100%;margin-bottom: 10px;     text-align: center;}
.module-facebook h1 {font-size:16px;line-height:16px;color:#fff;font-weight:500;margin-left: 13px;padding: 20px 0 0 0px;text-align: -webkit-left;}
.module-facebook p {font-size:13px;line-height:16px;color:#ddd;margin-left:13px;    text-align: -webkit-left;}
.module-facebook hr {color:#eee;}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #969696;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #cacaca;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ffffff;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
            position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: #222222d1;
    z-index: 1000;
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }
    #loader-wrapper .loader-section.section-right {
        right: 0;
    }
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
    .loaded #loader {
        opacity: 0;

        -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
    
        -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
.jumbotron {margin-left: 10px;}
.jumbotron h3 {margin-left: 10px;text-transform: uppercase;font-size: 10px;color: #fff;text-shadow: 1px 1px 20px #000;}

.panel {background: url('https://imgur.com/yNvX1O8.png');height: 200px;margin-bottom: 10px;border:none; border-radius: 0px;}
.panelboxd {background-color: #add8da; height: 40px;width: 200px;border-radius: 4px;margin-left: 7px;display: inline-block;text-align: center}
.panelboxd p {display: inline-block;color:#fff;font-size: 13px;position: relative;top: 10px;}
.panelboxc {background-color: #eab125; height: 40px;width: 200px;border-radius: 4px;margin-left: 7px;display: inline-block;text-align: center}
.panelboxc p {display: inline-block;color:#fff;font-size: 13px;position: relative;top: 10px;}
.panelboxk {background-color: #8A2BE2; height: 40px;width: 200px;border-radius: 4px;margin-left: 7px;display: inline-block;text-align: center}
.panelboxk p {display: inline-block;color:#fff;font-size: 13px;position: relative;top: 10px;}
.panelenter {height: 38px;width: 200px;background-color: #fff;float: right;margin-top: 20px;margin-right: 20px;text-align: center;}
.panelenter a {text-decoration: none;color: #333333;font-size: 13px; text-transform: uppercase;position: relative;top: 9px;}
.panelenter a:hover {font-size: 15px;}


.module-black > .title {height:75px;float:left;width:100%;position:relative;border-bottom:1px solid #111;}
.module-black h1 {color:#fff;font-size:18px;line-height:18px;font-weight:500;padding:20px 0 0 20px;}
.module-black p {color:#ddd;font-size:13px;padding:2px 0 0 20px;position: relative;top: -9px;}
.module-black > .content {padding:15px;float:left;width:100%;}
.module-black > .content > .fb-page {border-radius:4px;overflow:hidden;margin-bottom:-5px;box-shadow:0 0 0 3px rgba(255,255,255,0.1);}
.module-black {background: #3a3a3a;height: 440px; width: 100%;}
.module-black .form__submit {float:left;box-shadow:0 2px 2px rgba(0,0,0,0.1);border:none;border-radius:4px;line-height:50px;padding:0 20px;text-align:center;text-transform:uppercase;background:#fff;cursor:pointer;width:100%;color:black;}
.module-black .form__submit:hover {background:#e8e8e8;}

.staffs {float:left;overflow:hidden;margin-top:15px;margin:5px;}
.staffs > .image {box-shadow:0 0 10px rgba(0,0,0,0.5) inset;border-radius:3px 0 0 3px;width:70px;height:80px;overflow:hidden;float:left;}
.staffs > .image > .avatar_plate {webkit-filter:drop-shadow(0 0 5px #000);filter:drop-shadow(0 0 5px #000);float:left;border-radius:200px;width:68px;overflow:hidden;height:68px;}
.staffs > .bull {float:left;background:#eee;width:calc(270px);height:80px;border-radius:0 3px 3px 0;padding:14px 15px;}
.staffs > .bull > h1 {font-size:16px;line-height:16px;color:#6e6e6e;font-weight:500;position: relative;top: -25px;}
.staffs > .bull > p {font-size:13px;line-height:16px;color:#999;margin-top:5px;position: relative;top: -30px;}
.avatar_header {
    display: inline-flex;
    vertical-align: baseline;
    justify-content: center;
	    margin-right: 20px;
}
.avatar_header--search {
    position: absolute;
    padding: 80px 10px 10px 10px;
    margin-top: 26px;
    width: 300px;
    background: rgba(0, 0, 0, .9);
    z-index: 1;
    border-radius: 5px;
    color: white;
    display: none;
}
.avatar_header:hover .avatar_header--search {
    display: block !important;
}
.avatar_header--avatar {
    border: solid 2px grey;
    background: #3a3a3a;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    margin: auto 0 auto 0;
	    z-index: 99;
}
.avatar_header--pseudo {
    margin: auto -10px auto 0;
    background: #3a3a3a;
    padding: 5px 30px;
    width: 200px;
    border: solid 2px grey;
    border-radius: 5px;
    color: white;
    float: left;
    z-index: 99;
    text-align: center;
}
.btnaheader {
    padding: 5px 5px 5px 30px;
    display: table;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.btnaheader:hover {
    padding: 5px 5px 5px 30px;
    display: table;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffffd6;
}

.prof:before {
    background: url(../images/sprite.png) -379px -287px;
    width: 18px;
    height: 20px;
    content: '';
    display: block;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    left: 6%;
}
.para:before {
    background: url(../images/sprite.png) -384px -458px;
        width: 18px;
    height: 20px;
    content: '';
    display: block;
    margin-top: -10px;
    position: absolute;
    top: 69%;
    left: 6%;
}
.deco:before {
    background: url(../images/sprite.png) -304px -458px;
    width: 18px;
    height: 20px;
    content: '';
    display: block;
    margin-top: -10px;
    position: absolute;
    top: 86%;
    left: 6%;
}
.avatar_header--pseudo:before {
    background: url(../images/sprite.png) -464px -458px;
    width: 18px;
    height: 18px;
    content: '';
    display: block;
    margin-top: -9px;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    float: left;
    margin-left: -18px;
    margin-top: -1px;
}

.avatar_header:hover .avatar_header--pseudo:before { transform: rotate(180deg);margin-top: 2px; }

.copy {background: url('http://imgur.com/F19PkSb.png') no-repeat ;height: 100px; position: relative;left:1000px;top: -53px;width: 50px;}
.logo {
    margin: auto auto;
}